
/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #ffffff;
    margin: 80px;
    padding: 0;
}
header {
    background-color: #2c2c2c;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: 40px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover {
    color: #4caf50;
}
/* Hero Section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    margin: 50px;
}
.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.hero-content h1 span {
    color: #4caf50;
}
.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
.btn {
    background-color: #4caf50;
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover {
    background-color: #45a049;
}
/* Features Section */
.features {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 20px;
}
.feature {
    flex: 1 1 300px;
    text-align: center;
}
.feature img {
    height: 60px;
    margin-bottom: 20px;
}
.feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.feature p {
    font-size: 1em;
    color: #cccccc;
}
/* Productivity Section */
.productivities {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 20px;
}
.productivity {
    flex: 1 1 300px;
    text-align: center;
}
.productivity h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.productivity p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #cccccc;
}
.productivity img {
    width: 90%;
}
.card{
    background-color: aqua;
}