/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(241, 153, 218);
    color: white;
    background-image: url(images/backgroundimg.jpg);

}

/* NAVIGATION */
nav {
    background-image: url(images/formlogo.webp);
    padding: 15px;
    border-radius: 65px;
    border: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    justify-content: right;
}

.paragraph {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

.skill {
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: none;
    border-radius: 8px;
}

.skill h3 {
    margin-bottom: 10px;
}

.skill ul {
    list-style: square;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    align-items: center;
}

.hero {
    background: none;
    color: antiquewhite;
    padding: 50px;
    text-align: center;
}

.content {
    background: whitesmoke;
    margin: 25px;
    padding: 25px;
    border-radius: 6px;
    text-align: center;
    background-color: #facc15;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #facc15;
}

/* HEADER SECTION */
header {
    text-align: center;
    padding: 20px 20px;
    background: none;
    color: white;
    border-radius: 10px;
    background-image: url(images/backgroundimg.jpg);

}


/* MAIN CONTENT */
main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #26bdf4;
    margin-bottom: 15px;
}

/* CARDS */
.card {
    background: none;
    padding: 20px;
    margin: 15px 0;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* BLOG & SERVICES GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
}

/* FORM */
form {
    background: rgb(115, 192, 188);
    padding: 25px;
    border-radius: 10px;
}

form label {
    display: block;
    margin-top: 15px;
}

form input,
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

form button {
    margin-top: 20px;
    background: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #1e40af;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #91b5bb;
    color: rgb(67, 19, 131);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: larger;
}